a:link, a:visited {
  background-color: #3880ff;
  color: white;
  padding: 7px 460px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #3171e0;
}
