<ion-header>
  <ion-toolbar>
    <ion-title>Cuestionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>¿Como te encuentras dentro de la empresa?</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Muy bien</ion-label>
      <ion-radio slot="start" value="mumuybien"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Bien</ion-label>
      <ion-radio slot="start" value="bien"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Mal</ion-label>
      <ion-radio slot="start" value="mal"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
</ion-content>
