<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
	  <ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>Respuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 style="text-align:center;">Ficha de las respuestas</h3>
  <p>Nombre: {{ myNombre }}</p>
  <p>Pregunta 1: {{ sabado }}</p>
  <p>Pregunta 2: {{ domingo }}</p>
  <p>Pregunta 3: {{ libres }}</p>
  <p>Pregunta 4: {{ pausa }}</p>
  <p>Pregunta 5: {{ ritmo }}</p>
</ion-content>
