<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
	  <ion-back-button defaultHref="/"></ion-back-button>
	</ion-buttons>
    <ion-title>Respuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3 style="text-align:center;">Ficha de las respuestas</h3>
  <p>Nombre: {{ item.myNombre }}</p>
  <p>Apellido: {{ item.apellido }}</p>
  <p>Correo Electrónico: {{ item.correo }}</p>
  <p>Sexo: {{ item.sexo }}</p>
  <p>Pregunta 1: {{ item.sabado }}</p>
  <p>Pregunta 2: {{ item.domingo }}</p>
  <p>Pregunta 3: {{ item.libres }}</p>
  <p>Pregunta 4: {{ item.pausa }}</p>
  <p>Pregunta 5: {{ item.ritmo }}</p>
  <p style="color:black;">* El cuestionario esta completado. Esta es una página de solo de información. Puede cerrarla en cualquier momento.</p>
  <a href="../">VOLVER</a>
</ion-content>
