<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home Ajiua
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>AJIUA</ion-card-subtitle>
        <ion-card-title>Cuestionarios de satisfaccion en la empresa</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hemos creado una aplicacion para que los trabajadores de la empresa puedan hacer cuestionarios que nos ayude a mejorar el entorno de trabajo. Para continuar y contestar a estas preguntas, selecciona el boton de cuestionarios en en el menu de la parte izquierda.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
